

@media (min-width: 1181px) {
    .navbar-toggle {
        display: none;
    }

    .menu-buttons{
        display: flex;
    }
}
@media (max-width: 1180px) {
    .navbar-toggle {
        display: block;
        position: fixed;
        right: 15px;
    }

    .menu-buttons{
        display: none;
    }
}

@media (max-width: 600px) {
    .logo{
        margin-left:-8%;
        /*left: 10px;*/
    }

    .kyunki{
        margin-left:-2%;
        font-size: 0.7rem;
    }

    .logo-sperator{
        display:none;
    }


}

@media (max-width: 450px) {
    .toggle-button{
        font-size: 0.6%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .navbar-toggle {
        right: 10px;
    }

    .kyunki{
        margin-left:-2%;
        font-size: 0.5rem;
    }


}