@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*  font-family: 'Gilroy-Bold';*/
/*  src: url('fonts/Gilroy-Bold.woff') format('woff');*/
/*  font-weight: bold;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Gilroy-Heavy';*/
/*  src: url('fonts/Gilroy-Heavy.woff') format('woff');*/
/*  font-weight: 900;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Gilroy-Light';*/
/*  src: url('fonts/Gilroy-Light.woff') format('woff');*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Gilroy-Medium';*/
/*  src: url('fonts/Gilroy-Medium.woff') format('woff');*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Gilroy-Regular';*/
/*  src: url('fonts/Gilroy-Regular.woff') format('woff');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
